<div class="alert alert-success mt-5 text-center">
    <h1>Dziękujemy!</h1>
    <p>Twoja wiadomość została wysłana. Skontaktujemy się z Tobą najszybciej jak to możliwe.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Wróć na stronę główną</a>
</div>